body {
   /* margin: 40px;*/
    /*background-image: linear-gradient(to bottom, white,#E60000);*/
}


/*logo*/
.logoContainer {
    align-content: center;
    justify-content: center;
    display: flex;
    width:30%;
    height:auto;
}

.logoContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
width: 30%}

.phrase {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.stores {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.appStore {
    width:20%
}
.googlePlay {
    width: 20%;
}
/*the story*/
.storyContainer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:40px;
    margin-bottom: 50px;
}
.sectionContent {
    display:contents;
    align-items: center;
    font-size: 24px;
    padding: 25px;
    margin-top: 60px;
}
/*preview*/
/*.preview {
    width: 15%;
    padding:2px;
    margin-top: 30px;
   margin:150px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
    margin:150px;
=======
   margin:150px;
>>>>>>> 24b51037920e0b79c8829c608ed9af302a7d4a88
    padding:15px; 
}

.previewContainer{
    margin-top: 50px;
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.preview
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto; 
    width: 15%;
}
*/

/*features*/
.featureContainer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.features {
    font-size: 24px;
    word-spacing: 5px;
    padding:5px;
        margin-left: auto;
        margin-right: auto;
        width: 40em
}



.sectionHeader {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}


/*
.grid-container {
    display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item1 {
    width: 15%;

}

.grid-item2 {
    width: 15%;
}

.grid-item3 {
    width: 15%;
}
*/


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;

  }

  .grid-item {
    margin: 40px;
}

.preview {
    width: 90%;
}


@media only screen and (max-width:600px) {
    .logoContainer {
        flex-direction: column;
        width:20%;
    }
    .phrase {
        flex-direction: column;
        font-size: 14px;
    }
    .stores {
        flex-direction: column;
    }
    .storyContainer {
        flex-direction: column;
    }
    .sectionContent {
        font-size: 8px;
    }
    .featureContainer {
        flex-direction: column;
    }
    .features  {
        font-size: 8px;
    }
}